.button {
   -fx-text-fill:  #e5e9f0;
   -fx-background-color: #3b4254;
   -fx-background-radius: 0;
   -fx-pref-width: 180px;
   -fx-pref-height: 60px;

}

#left_box{
   -fx-text-fill:  #e5e9f0;
   -fx-background-color: #3b4254;
   -fx-background-radius: 0;
   -fx-pref-width: 180px;
   -fx-pref-height: 60px;
}

#top_box{
   -fx-text-fill:  #e5e9f0;
   -fx-background-color: #3b4254;
   -fx-background-radius: 0;
   -fx-pref-width: 180px;
   -fx-pref-height: 60px;
}

.button:hover{
    -fx-background-color: #81a1c1;
}

.root {
    -fx-background-color: #e5e9f0;
    -fx-font-family: "Fira Code";
}

.text-field {
    -fx-background-color: #e5e9f0 ,#3b4254, #e5e9f0;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 1 -1;
    -fx-fill: #3b4254;
    -fx-pref-width: 1000px;
    -fx-pref-height: 30px;

}

.text-field:focused {
    -fx-background-color: #a9a9a9, #3b4254,  #e5e9f0;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 1 -1;
    -fx-pref-width: 1000px;
    -fx-pref-height: 30px;
}


#logout_button{
    -fx-background-color: #81a1c1;
    -fx-background-radius: 0;
    -fx-pref-width: 100px;
    -fx-pref-height: 60px;
    -fx-text-fill:  #3b4254;
}

#home_button{
    -fx-background-color: #81a1c1;
    -fx-text-fill:  #3b4254;
}